body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #2C3333;
}

h1 {
  color: #2F3A8F;
  margin: 0;
}

h2 {
  color: #FE7E6D;
}

p {
  line-height: 2;
}

a {
  color: white;
  text-decoration: none;
}

hr {
  border-color: #9AD0EC;
  border-style: dotted;
  border-bottom: none;
  border-width: 7px;
  margin: 150px auto;
  width: 10%;
}

.upper {
  background-color: #FEECE9;
  color: #2C3333;
  margin: 0;
  padding: 100px 0;
  position: relative;
}

.upper-cloud {
  position: absolute;
  left: 300px;
}

.lower-cloud {
  position: absolute;
  top: 70px;
  right: 300px;
}

.header-text {
  color: #2C3333;
  font-family: 'Pacifico', cursive;
  font-size: 5.62rem;
  font-weight: lighter;
  text-align: center;
}

.slogen {
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

.middle {
  /* CCD1E4 */
  padding: 70px 300px;
  margin: 0;
}

.who-am-i {
  text-align: center;
}

.profile {
  margin: 10px 30px 0 0;
  float: left;
  width: 20%;
}

.about {
  width: 50%;
  margin: auto;
}

.about-desc {
  padding-top: 20px;
}

.my-hobbies {
  margin: auto;
  width: 80%
}

.hobbies-header {
  text-align: center;
  margin-bottom: 50px;
}

.hobby-right {
  clear: left;
  float: right;
  margin-left: 20px;
  margin-bottom: 50px;
  width: 10%;
}

.desc-right {
  clear: left;
  padding-top: 20px;
}

.hobby-left {
  clear: right;
  float: left;
  margin-right: 20px;
  margin-bottom: 50px;
  width: 10%;
}

.desc-left {
  clear: right;
  padding-top: 20px;
}

.contact-area {
  text-align: center;
}

.button-area {
  margin: 30px auto 40px auto;
}

.btn {
  background: #FE7E6D;
  background-image: -webkit-linear-gradient(top, #FE7E6D, #2980b9);
  background-image: -moz-linear-gradient(top, #FE7E6D, #2980b9);
  background-image: -ms-linear-gradient(top, #FE7E6D, #2980b9);
  background-image: -o-linear-gradient(top, #FE7E6D, #2980b9);
  background-image: linear-gradient(to bottom, #FE7E6D, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #FE7E6D);
  background-image: -moz-linear-gradient(top, #3cb0fd, #FE7E6D);
  background-image: -ms-linear-gradient(top, #3cb0fd, #FE7E6D);
  background-image: -o-linear-gradient(top, #3cb0fd, #FE7E6D);
  background-image: linear-gradient(to bottom, #3cb0fd, #FE7E6D);
  text-decoration: none;
}

.bottom {
  background-color: #2F3A8F;
  color: white;
  padding: 20px 200px 20px 200px;
}

.icons {
  height: 25px;
  margin-right: 10px;
}

.social-titles {
  display: inline-block;
  margin: auto 50px auto 0;
}

.social-line {
  margin: 0 auto 0 auto;
  padding-left: 50px;
  text-align: center;
}
